{
  "extends": ["eslint:recommended", "react-app", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "eqeqeq": "error"
  }
}