.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.component-list {
  width: 15%;
}

.canvas {
  width: 65%;
}

.property-bar {
  width: 20%;
}
